.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.spacer {
  flex-grow: 1;
}
  