.toggleButton {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--color-title);
  border: 2px solid var(--color-title);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:hover {
  background-color: var(--color-title);
  color: white;
  transform: scale(1.1);
}
  